{% extends 'DevThisDefaultBundle:Admin:_base.html.twig' %}

{% block body %}
	<form action="{{ path('dev_this_admin_category_create') }}" method="post" {{ form_enctype(form) }}>
		{{ form_errors(form) }}

		{{ form_row(form.name) }}

		{{ form_rest(form) }}

		<input type="submit" class="btn btn-primary" value="create category" />
	</form>
{% endblock %}